body {
    font-family: -apple-system, Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
    background: $color-white
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.btn {
    width: 200px;
    padding: 12px;
    text-align: center;
    background-color: $color-aqua;
    outline: none;
    border: 0;
    color: $color-white;
    text-transform: uppercase;
}

.main-wrapper {
    .header {
        width: 100%;
        position: relative;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .top-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .logo {
                max-width: 230px;
            }

            .nav-menu {
                width: 50%;
                min-width: 120px;
                max-height: 48px;
                display: flex;
                justify-content: space-around;

                &-item {
                    width: calc(100% / 3);
                    text-align: center;
                    text-transform: uppercase;
                    padding: 15px;
                    border-right: 2px solid $color-gray-line;
                }

                &-item:last-child {
                    border-right: none;
                }
            }

        }

        .header-title {
            color: $color-white;
            display: flex;
            align-items: center;
            flex-direction: column;
            position: absolute;
            padding: 0 20px;
            text-align: center;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    }


    .main {
        margin: 0 auto;
        width: 960px;

        .toolbar {
            margin: 30px 0;
            display: flex;
            justify-content: flex-end;

            &-input {
                padding: 8px 16px;
                border-color: $color-gray-line;
                margin-right: 15px;
            }
        }

        .post-list {
            margin-bottom: 20px;

            &-title {
                text-align: right;
            }

            &-item {
                display: flex;
                padding: 10px;
                background-color: $color-gray;
                margin-bottom: 20px;

                .wrapper {
                    margin-left: 20px;

                    .post {
                        padding: 10px 0;

                        &-description {
                            color: $color-red;
                            padding: 10px 5px;
                            border-bottom: 1px solid $color-gray-line;
                        }

                        h3 {
                            color: $color-aqua;
                            text-transform: uppercase;
                            margin: 0;
                        }
                    }

                    button {
                        float: right;
                        margin-top: 20px;
                    }
                }
            }
        }

        .about {
            margin: 20px 0;

            &-title {
                text-align: right;
                margin-bottom: 0;
            }

            p {
                margin-bottom: 20px;
            }

            &-image {
                img {
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }

        .contact-form {
            margin-top: 50px;

            h1,
            h4 {
                text-align: right;
                margin: 8px 0;
                text-transform: uppercase;
            }

            .form {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                &-item {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 100%;
                    margin-bottom: 20px;

                    label {
                        color: $color-aqua;
                        margin-bottom: 10px;
                    }

                    input,
                    textarea {
                        width: calc(100% - 20px);
                        border-color: $color-aqua;
                        padding: 10px;
                    }

                }

                &-item:nth-child(-n+2) {
                    width: calc(50% - 10px);
                }

                &-item:first-child {
                    margin-right: 20px;
                }
            }
        }
    }

    .footer {
        display: flex;
        padding: 30px 10px 10px;
    }
}

/* 
** MEDIA QUERIES
 */

@media screen and (max-width: 1024px) {

    .responsive-img {
        width: 100%;
        height: auto;
    }

    .main-wrapper .main {
        width: calc(100% - 40px);

        .post-list-item {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 768px) {

    .main-wrapper .header .top-wrapper {
        .logo {
            width: 100px;
        }

        .nav-menu {
            width: calc(100% - 100px);
            max-height: 40px;

            &-item {
                padding: 10px 5px;
            }

            &-item:last-child {
                border-right: none;
            }
        }
    }

    .main .contact-form {
        .form-item:nth-child(-n+2) {
            width: 100%;
        }

        .form-item:first-child {
            margin-right: 0;
        }
    }
}